@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    font-family: "Poppins", sans-serif;
}

body {
    min-height: 1000vh;
    display: flex;

    background-color: #e3e9f7;
}

nav#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    min-width: 82px;
    position: fixed;

    border-radius: 0px 18px 18px 0px;
    background-color: white;

    transition: all .5s;
}

div#sidebar_content {
    padding: 12px;
    position: relative;
}

div#user {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    gap: 0px 10px;
}

img#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    
    border-radius: 20px;
}

p#user_infos {
    display: flex;
    flex-direction: column;
}

p#user_infos > span:last-child {
    color: #6b6b6b;

    font-size: 12px;
}

ul#side_items {
    display: flex;
    flex-direction: column;
    gap: 10px 0px;

    list-style: none;
}

li.side-item {
    padding: 14px;

    border-radius: 8px;

    cursor: pointer;
}

li.side-item.active {
    background-color: #4f46e5;
}

li.side-item:hover:not(.active),button#logout_btn:hover {/* os que não tiverem a classe active */
    background-color: #e3e9f7;
}

li.side-item a {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #0a0a0a;

    text-decoration: none;
}

li.side-item.active a {
    color: #e3e9f7;
}

li.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
}

div#logout {
    padding: 12px;
    display: flex;
    justify-content: center;

    border: 1px solid #e3e9f7;
}

button#logout_btn {
    display: flex;
    align-items: center;

    padding: 12px;
    gap: 0px 0px;

    background-color: transparent;
    border-radius: 8px;
    border: none;
    
    text-align: start;
    font-size: 14px;

    cursor: pointer;
}

button#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    height: 20px;
    width: 20px;
    
    background-color: #4f46e5;
    color: #e3e9f7;
    border-radius: 100%;
    border: none;

    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    height: 0px;
    overflow: hidden;/* esconde todos os elementos fora da largura */
    white-space: nowrap;/* caso o texto for muito grande ele não quebra */
    text-overflow: ellipsis; /* caso o texto for muito grande adiciona 3 pontos no final*/

    transition: width .6s;
}

main {
    padding: 20px;
    padding-left: calc(82px + 20px);
}

nav#sidebar.open-sidebar {
    min-width: 15%;
}

nav#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

nav#sidebar.open-sidebar .side-item a  {
    gap: 0px 14px;
    justify-content: start;
}

nav#sidebar.open-sidebar button#logout_btn {
    gap: 0px 20px;
}