@import "tailwindcss";

.active {
    @apply h-auto
}

.coluna {
    @apply bg-[#F6F8FC] rounded-[10px] p-[10px] relative h-full min-w-[252px] flex flex-col min-h-0 gap-[30px_0px] border-t-[5px] border-amber-400 hover:cursor-pointer
}

.card {
    @apply bg-[#FFFFFF] shadow-[1px_1px_5px_black] rounded-[8px] p-[10px] flex flex-col gap-[10px_0px]
}

.arrast {
    @apply opacity-[.5] shadow-none
}

.bg {
    @apply bg-amber-500
}

.item {
    @apply min-w-full flex gap-[0px_15px]
}

.image {
    @apply rounded-[10px] w-[150px] h-[150px] object-cover shrink-0
}

.conteudo {
    @apply flex flex-col justify-start gap-[2px_0px]
}

.title {
    @apply text-[20px]
}

.paragrafos {
    @apply text-[14px]
}

.copy:hover {
    animation: ident 2s linear infinite;
}

@keyframes ident {
    from, to {
        transform: scale(100%);
    }

    50% {
        transform: scale(120%);
    }
}

#quant::-webkit-inner-spin-button,
#quant::-webkit-outer-spin-button {
    opacity: 1;
}

.checkbox {
    @apply flex gap-[0px_5px]
}